*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
}

//colores
$Orange: hsl(26, 100%, 55%);
$Paleorange: hsl(25, 100%, 94%);
$Veryvarkblue: hsl(220, 13%, 13%);
$Darkgrayishblue: hsl(219, 9%, 45%);
$Grayishblue: hsl(220, 14%, 75%);
$Lightgrayishblue: hsl(223, 64%, 98%);
$White: hsl(0, 0%, 100%);
$Black: (with 75% opacity for lightbox background) hsl(0, 0%, 0%);

ul {
    list-style: none;
    text-decoration: none;
}

.Dark{
    background-color: rgb(51, 51, 51);
}

body{
    background-color: #fff;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media(max-width: 1000px){
 
    .header_Sneaker
        .header_article
        .img1{height: 53vh;}
        .header_article_mini article img{ height: 11vh; margin: 7px;}

}

@media(max-width: 915px){
    
    .header_article_txt
    .cash_Sneaker .add{
        margin-left:30px;
        width: 40%;
    }

    .header_article_txt
    .cash_Sneaker .cantidad{
        width: 40%;
    }
}
@media(max-width: 645px){
 
    .nav_Sneaker{ height: 5vh; }
    .nav_Sneaker
    .nav_hamburguesa{padding: 10px; display: flex; justify-content: center; align-items: center; margin-right:auto; }
    #menu_hamburguesa{cursor: pointer; margin-right: auto; width: 12%; height: 3vh; }
    #logo_hamburguesa{width: 50%; height: 3vh; margin-right: auto;}
    .nav_Sneaker
    .ul_Sneaker .logo{display: none;}
        .ul_Sneaker{box-shadow: 5px 5px 10px rgba(3, 3, 3, 0.473) ; flex-direction: column; position: fixed; top:0px; right: 100%; transition:all 0.8s ease; background-color: $White; width: 100%; height: 100vh;  font-size: 18px;}
        .ul_Sneaker_re{flex-direction: column;  right: 40%; line-height: 60px;}
        .header_Sneaker{
        flex-direction: column;
        .header_article .img1{ width: 100vw; margin-top: 25px; border-radius: 0%;}
        .header_article_mini{display: none;}
        .header_article_txt{padding: 25px;}
        .cash_Sneaker{flex-direction: column; }
        .cash_Sneaker .cantidad{margin: auto; width: 100%; height: 8vh;}
        .cash_Sneaker .add{ margin:15px auto; width: 100%;}
        .dos{display: flex; justify-content: space-between; align-items: center;}
        .dos .pa{font-size: 15px; margin:auto}
        .nav_Sneaker .article_Sneaker .avatar{display: none;}
    }

    #article_Sneaker
    #cart{
       width: auto;
       height: auto;

       }
   
}

.nav_hamburguesa{
    display: none;
}
.Container_Sneaker{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*nav*/
.nav_Sneaker{
    @include flex;
    padding: 10px;
}

.nav_Sneaker img {height: 3vh; width: 30%;}
.ul_Sneaker{  @include flex;}
.ul_Sneaker_re{  @include flex;}
.ul_Sneaker li{margin-left: 30px; cursor: pointer;}
.ul_Sneaker li:hover{color: #000;  padding-bottom: 4px; border-bottom:2px solid $Orange;}
.article_Sneaker .carshop{height:3vh; width: 40%; cursor: pointer; margin-right: 20px;}
.article_Sneaker .avatar{ height:5vh; width: 40%;}
.article_Sneaker .avatar:hover{border-radius: 100%; cursor: pointer; border:1px solid $Orange;}
.ul_Sneaker .fa-solid{font-size: 15px; margin-left: 50px; cursor: pointer;}

/*Header*/

.header_Sneaker{ 
    display: flex;
    align-items: center;
    justify-content: center;}

    .header_article{
        width: 100%;
        text-align: center;
        
    }
    .header_article .img1{margin-top:50px; cursor: pointer; height: 60vh; border-radius: 10px;}
    .header_article_mini img{ height:13vh; margin: 5px; border-radius: 10px;}
    .header_article_mini img:hover{cursor: pointer; border:2px solid $Orange;}
    .header_article_txt{width: 100%;}
    .header_article_txt h3{color: $Orange; font-size: 16px;}
    .header_article_txt h2{margin-top: 10px; font-size: 30px;}
    .header_article_txt p{margin-top: 22px; color: $Darkgrayishblue; font-size: 16px;}
    .header_article_txt .precio{color: #000;}
    .header_article_txt .precio span{color:$Orange; font-size: 10px; margin-left: 10px;}
    .header_article_txt .pa{font-size: 10px;}
    .cash_Sneaker{display: flex; margin-top: 15px;}
    .cash_Sneaker button{ cursor: pointer; margin-left: 10px; font-size: 15px; width: 30%; background-color: $Orange; border: none; border-radius: 10px; height: 7vh; text-align: center; color: #fff;}
    .cash_Sneaker button img{height: 2vh; margin-right: 5px;}
    .cash_Sneaker .cantidad .menos{cursor: pointer; margin-right: 25px; color: $Orange; font-size: 25px;}
    .cash_Sneaker .cantidad .mas{ cursor:pointer; margin-left: 25px; font-size: 25px; color: $Orange;}
    .cash_Sneaker .cantidad{ text-align: center; width: 20%;background-color: $Paleorange; padding: 5px; border-radius: 10px;}

    .view{ position:fixed;z-index: 1000; width: 100%; height: 100%; top: 0; left: 0; background-color: rgba(124, 124, 124, 0.603); display:flex;align-items: center;justify-content: center;}
    .view .articulo p{ display: flex; font-size: 20px; color: #000;
    cursor: pointer; justify-content: flex-end; }
    .articulo .principallogo{height: 60vh; border-radius: 15px;}
    .view article .sneaker0{height: 10vh; margin-top: 10px; border-radius: 10px; margin-left: 35px;}
    .view article img:hover{background-color: $White; border: 2px solid $Orange;}
    .view .flex{display: flex; justify-content: center; align-items: center;}
    .view .arti .articulo .avanzar{ height: 3vh; margin: 10px; cursor: pointer;}

    #cart{position:absolute;margin:0 auto; z-index: 999999999; width: auto; height: auto; box-shadow: 5px 5px 10px rgb(163, 163, 163); border-radius: 10px; padding: 10px; background-color: white;  }
    #cart .h4_h4{ text-align: center; margin:35px auto;color: $Grayishblue;}
    #cart div{ display: flex; justify-content: space-between;
        align-items: center; }
    #cart .carshop{font-size: 15px;}
    .addimg{display: flex; flex-direction: column;}
    .addimg .buy{display: flex; align-items: center; margin:auto 25px;}
    .addimg .buy .imgg{height:7vh; border-radius: 10%; width: 30%;}
    .addimg .buy .txt{margin-left: 10px;}
    .addimg .buy .title{margin-left: 10px; font-size: 15px; color: $Darkgrayishblue;}
    .addimg .title span{color: #000;}
    .delete img{height: 3vh; width: 80%; cursor: pointer;}
    .addimg  button{margin-left: 15px; border: none; border-radius: 10px; background-color: $Orange; color: #fff; width: 100%; height: 4vh; cursor: pointer  ;}
    .addimg  button:hover{color: #000;}
    
    

